html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #f7e135;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
}
