.characters {
    &__inner {
        padding-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        padding: 100px 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        gap: 40px;
    }
}
