.episodes {
    &__inner {
        padding: 150px;
    }
    &__dropdown {
        margin-bottom: 30px;
    }
}

.dropdown {
    text-align: right;
    position: relative;
    &__title {
        position: relative;
        padding: 15px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome/Safari/Opera */
        -khtml-user-select: none; /* Konqueror */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: calc(50% - 5px);
            height: 8px;
            width: 8px;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            transform: rotate(45deg);
        }
    }

    &__menu {
        position: absolute;
        right: 0;
        height: 0;
        bottom: 0;

        background-color: #000;
        overflow: hidden;
        li {
            display: block;
            color: #dbb11e;
            padding: 5px 10px;
            cursor: pointer;
        }
        &.open {
            transition: all 0.5s ease;
            height: 155px;
            bottom: -155px;
            z-index: 1;
        }
    }
}
